<p id="notice"><%= notice %></p>

<h1>Parties</h1>

<table>
  <thead>
    <tr>
      <th>Acronym</th>
      <th>Logo</th>
      <th>Name</th>
      <th>Website</th>
      <th>Email</th>
      <th>Description</th>
      <th>Description source</th>
      <th>Description updated at</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= party.acronym %></td>
        <td><%= party.logo %></td>
        <td><%= party.name %></td>
        <td><%= party.website %></td>
        <td><%= party.email %></td>
        <td><%= party.description %></td>
        <td><%= party.description_source %></td>
        <td><%= party.description_updated_at %></td>
        <td><%= party.facebook %></td>
        <td><%= party.twitter %></td>
        <td><%= party.instagram %></td>
        <td><%= link_to 'Show', party %></td>
        <td><%= link_to 'Edit', edit_party_path(party) %></td>
        <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Party', new_party_path %>
