<%= form_with(model: manifesto_item, local: true) do |form| %>
  <% if manifesto_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manifesto_item.errors.count, "error") %> prohibited this manifesto_item from being saved:</h2>

      <ul>
        <% manifesto_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :manifesto_section_id %>
    <%= form.text_field :manifesto_section_id %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
