<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Politica Para Todos</title>
    <meta name="title" content="Politica Para Todos">
    <meta name="description" content="Missão: Promover a participação ativa dos cidadãos nos processos eleitorais em Portugal">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://politicaparatodos.pt/">
    <meta property="og:title" content="Politica Para Todos">
    <meta property="og:description" content="Missão: Promover a participação ativa dos cidadãos nos processos eleitorais em Portugal">
    <meta property="og:image" content="/images/meta-banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://politicaparatodos.pt/">
    <meta property="twitter:title" content="Politica Para Todos">
    <meta property="twitter:description" content="Missão: Promover a participação ativa dos cidadãos nos processos eleitorais em Portugal">
    <meta property="twitter:image" content="/images/meta-banner.png">
    
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#4a4f4f">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script async src="//www.googletagmanager.com/gtag/js?id=UA-146417339-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];

          function gtag() {
              dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-146417339-1', {
              'send_page_view': false,
              'anonymize_ip': true
          });
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
